body{
    background-color: #cfd8d2 !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#duedate_header{
   text-align: center;
}

.h3 {
    text-align: center;
}

.project-card{
    background-color: rgb(255, 255, 255) ;
    width: 300px;
    height: 200px;
    margin: auto;
    border-radius: 5cm;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}

.logOut-button{
    margin: auto;
  
  
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

button {
    background-color: #cfd8d2;
    border-radius: 200px;
    border-color:rgb(9, 21, 32);
}

input[type=submit] {
    background-color: #cfd8d2;
    border-radius: 200px;
    border-color:rgb(9, 21, 32);
}

