
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: url('images/background.jpg') no-repeat center center fixed; 

    
}

img {
    padding-top: 25px;
}

form {
    font-size: 14px;
    border-color: aliceblue;
}

#duedate_header{
   text-align: center;
   
}

body h1 {
    font-size: 18px;
    text-transform: uppercase;
    opacity: 55%;
    letter-spacing: 1px;
}

body h2 {
   font-size: 11px;
   letter-spacing: 1px;
   text-transform: uppercase;
   vertical-align:bottom;
   
}

body h3{
    font-size: large;
}
.button:hover {opacity: 1}


.project-card{
    background-color: rgb(255, 255, 255) ;
    width: 300px;
    height: 250px;
    margin: auto;
   padding-top: 24px;
    font-family:sans-serif;
   opacity: 100%;
   border-width: 10px;
   border-color: #cddbdb;
}


.logOut-button{
    margin: auto;
  
  
}

.projects-button{
    margin: auto;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
input.submit {
    background-color: #cddbdb;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 100;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
button {
    background-color: #cddbdb;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
p{
    display: none;
}



button:hover {
    background-color: #e8a4c9;
}

button:hover .innertext {
    display:block;
}

input[type=submit] {
    background-color: #cfd8d2;
    border-radius: 200px;
    border-color:rgb(9, 21, 32);
}

input[type=submit]:hover {
    background-color: #e8a4c9;
}

.milestones-button {
    position: absolute;
    top: 45px;
    RIGHT: 5%;
    align-self: center;
    width: 16%;
   height: 10%;
}


