body{
    background-color: #cfd8d2 !important;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    text-align: center;
}

#duedate_header{
   text-align: center;
}

.h3 {
    text-align: center;
}

.project-card{
    background-color: rgb(255, 255, 255) !important;
    width: 400px;
    margin: auto;
    border-radius: 1cm;
    font-family:Arial, Helvetica, sans-serif;
    
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

button {
    background-color: #cfd8d2;
    border: 5px;
    border-radius: 20px;
}